// uniquement les imports de nos typos et les font size pour chaque element de typos (titres, p, a, li, span)
// all screens font sizes
$h1-fontsize: 2rem;
$h2-fontsize: 1.5rem;
$h3-fontsize: 1.2rem;
$regular-fontsize: 1rem;
