@import 'theme';
#tableau-light{
.state-annule, .state-inactif{
  background: $color1;
}

.state-option{
  background: lighten($color1,30);
}

.state-confirme, .state-actif{
  background: $color2;
}
}
tbody>*{
  display: contents;

}
app-template-a #tableau-light thead{
  background: $dark-color;
  color: $light-color;
}
